* {
  box-sizing: border-box;
}

body {
  margin: 50px 0;
  color: yellow;
  font-size: 38px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "Orbitron", sans-serif;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: black;
}

#blink {
  margin: 170px 10px 10px 10px;
  font-size: 40px;
}

#blink2 {
  margin-bottom: 200px;
  font-size: 60px;
}

.keys {
  color: red;
  font-size: 52px;
}

h1 {
  margin-bottom: 50px;
  line-height: 74px;
}
#guessBanner {
  font-size: 60px;
  margin-top: 150px;
  margin-bottom: 50px;
  letter-spacing: 0.2em;
}

#guessedLetters {
  letter-spacing: 8px;
  margin-bottom: 10px;
}

#win {
  margin-bottom: 20px;
}

#lose {
  margin-bottom: 100px;
}

#image {
  width: 100%;
  height: auto;
  text-align: left;
}

#answer {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 55px;
  color: orange;
  width: 100%;
  text-align: center;
}

#lettersG p,
#lettersR p,
#guessedLetters p {
  font-size: 28px;
}

@media only screen and (max-width: 992px) {
  #guessBanner {
    font-size: 55px;
    letter-spacing: 7px;
  }

  #win {
    font-size: 38px;
  }

  #lose {
    margin-bottom: 100px;
    font-size: 38px;
  }

  #answer {
    margin-top: 25px;
    font-size: 55px;
    margin-bottom: 85px;
  }

  #lettersG p,
  #lettersR p,
  #guessedLetters p {
    font-size: 26px;
    margin-bottom: 20px;
  }

  #blink {
    margin-top: 150px;
    font-size: 30px;
  }

  .keys {
    font-size: 42px;
  }

  #blink2 {
    margin-bottom: 150px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 767px) {
  #guessBanner {
    font-size: 45px;
    letter-spacing: 6px;
  }

  #win {
    font-size: 30px;
  }

  #lose {
    margin-bottom: 55px;
    font-size: 30px;
  }

  #answer {
    font-size: 45px;
    line-height: 1.8;
    margin-bottom: 80px;
  }

  #lettersG p,
  #lettersR p,
  #guessedLetters p {
    font-size: 20px;
    margin-bottom: 30px;
  }

  #blink {
    margin-top: 140px;
    font-size: 28px;
  }

  .keys {
    color: red;
    font-size: 34px;
  }

  #blink2 {
    margin-bottom: 150px;
    font-size: 40px;
  }
}

@media only screen and (max-width: 576px) {
  #guessBanner {
    font-size: 40px;
    letter-spacing: 6px;
  }

  #win {
    font-size: 25px;
  }

  #lose {
    margin-bottom: 45px;
    font-size: 25px;
  }

  #answer {
    font-size: 35px;
    margin-bottom: 75px;
  }

  #lettersG p,
  #lettersR p,
  #guessedLetters p {
    font-size: 18px;
    margin-bottom: 40px;
  }
}
